.product-btn {
  background: white;
  border: none;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #f6a8a9;
  text-align: center;
  font-size: 14px;
  height: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.products-tab {
  display: flex;
  width: 36%;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
}

.products-container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 20px 0px 30px 0px;
  margin-top: 80px;
}

.list-container {
  display: flex;
  margin: 30px 0px 15px 0px;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1200px;
}

.product-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  width: calc(100% / 8);
  height: 150px;
  cursor: pointer;
  margin: 25px 30px 25px 0px;
  background-color: #c4c4c4;
}

.product-title {
  font-size: 15px;
  /* line-height: 20px; */
  text-align: center;
  font-weight: 700;
  /* letter-spacing: 1.8px; */
  text-transform: capitalize;
}

.plan-heading {
  text-transform: uppercase;
  margin-top: 30px;
  /* font-weight: bold; */
  line-height: 1.1;
  /* font-family: "Comfortaa", display !important; */
  /* color: #1f4568; */
  /* font-size: 18px; */
  /* letter-spacing: 1px; */
}

.product-listing .product-section {
  height: fit-content;
  justify-content: normal;
}

@media (min-width: 1025px) {
  .product-listing .product_card {
    height: 122px;
    margin-right: 50px;
    margin-top: 30px;
  }
}

.product-listing .product_card {
  background: #ffffff5c;
}

.icon_product {
  width: 34px;
  padding-top: 10px;
}

.product_card:hover {
  box-shadow: 0 15px 10px rgb(52 105 203 / 15%);
}
