.basic-details {
  display: flex;
}
.detail-part {
  width: 40%;
  display: grid;
  padding-left: 50px;
  padding-top: 30px;
}

.detail-part h3 {
  font-weight: 600;
}

.gmcpolicy {
  border: 2px solid #db6576;
  margin-top: 30px;
  padding: 5px 10px 0px 10px;
}
.gmcpolicy b {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  padding-top: 0px 10px 0px 10px;
  margin-top: 10px;
}
.gmcpolicy p {
  font-size: 15px;
  padding-top: 0px 10px 0px 10px;
  margin: 0px;
}

.employeesNumber {
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
}

.employeesNumber p {
  font-size: 17px;
}

.empnumbers {
  padding: 20px 10px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.empnumbers .plus-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(#ffff, #ffff),
    linear-gradient(#ffff, #ffff), #db6576;
  background-position: center;
  background-size: 50% 4px, 4px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  border: 2px solid #db6576;
}

.empnumbers .minus-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(#ffff, #ffff), #db6576;
  background-position: center; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  background-size: 70% 4px;
  border: 2px solid #db6576;
}

.numberstring {
  height: 50px;
  background-color: white;
  width: 100%;
  border-top: 2px solid #db6576;
  border-bottom: 2px solid #db6576;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border-left: none;
  border-right: none;
}

.selectmsg {
  color: red;
  font-size: 14px;
  line-height: 0;
}

.empnumbers input::-webkit-outer-spin-button,
.empnumbers input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.empnumbers input[type="number"] {
  -moz-appearance: textfield;
}

.gmc-container {
  padding: 10px 0px 10px 30px;
}

.gmc-container h3 {
  color: black;
  font-weight: 600;
  padding: 20px 10px 0px 0px;
}

.form-list input {
  width: 100%;
}

.form-part {
  width: 45%;
}

.form-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.agelist {
  width: 25%;
}

.sum-insured {
  width: 25%;
}
.members {
  width: 45%;
}

.form-list p {
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 5px;
  font-size: 14px;
  text-align: center;
}

.agelist input {
  border: 2px solid #db6576;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sum-insured input {
  border: 2px solid #db6576;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-list .empnumbers .minus-btn {
  height: 34px;
  background: linear-gradient(#ffff, #ffff), #db6576;
  background-position: center; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  background-size: 70% 4px;
  border: none;
}

.form-list .empnumbers .plus-btn {
  height: 34px;
  background: linear-gradient(#ffff, #ffff), linear-gradient(#ffff, #ffff),
    #db6576;
  background-position: center;
  background-size: 50% 4px, 4px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  border: none;
}

.form-list .empnumbers .numberstring {
  height: 34px;
}

.form-part h3 {
  padding: 20px 0px 0px 0px;
  font-weight: 500;
  font-size: 17px;
}
.btn-gmc-container {
  width: 75%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.btn-gmc-container button {
  background: transparent;
  width: 45%;
  height: 50px;
  border: 2px solid #db6576;
}

.btn-gmc-container button:hover {
  background-color: #db6576;
  color: white;
}

.compdetails button:hover {
  background-color: #db6576;
  color: white;
}

.btn-gmc-container select {
  background: transparent;
  width: 100%;
  border: 2px solid #db6576;
  font-size: 14px;
}

.btn-gmc-container .expenses {
  background: transparent;
  width: 32%;
  border: 2px solid #db6576;
  font-size: 14px;
}

.btn-gmc-container .draftbtn {
  background-color: #d8d8d8;
  margin-top: 50px;
  padding: 15px;
  height: 60px;
  width: 45%;
  border: none;
  text-align: center;
  border-radius: 5px;
}

.page-gmc-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.submit-part {
  width: 40%;
}

.submit-part h3 {
  padding: 0px;
  line-height: 0px;
}
.submit-part .desc {
  margin-bottom: 20px;
  font-size: 15px;
}

.progressbar {
  margin-top: 40px;
}

.submit-part p {
  font-size: 17px;
  font-weight: 600;
}

.submit-part .cover {
  background: #d8d8d8;
  padding: 10px;
  font-weight: 600;
}

.compdetails {
  width: 40%;
  padding: 10px 10px 10px 0px;
}

.compdetails input {
  border: 2px solid #db6576;
  padding: 6px;
  margin-top: 10px;
  width: 100%;
}

.compdetails textarea {
  border: 2px solid #db6576;
  padding: 10px;
  min-height: 100px;
  margin-top: 10px;
  width: 100%;
}

.compdetails textarea:focus-visible {
  outline: 1px solid #db6576;
}

.compdetails textarea:focus {
  outline: 1px solid #db6576;
}

.compdetails select {
  background: transparent;
  width: 100%;
  border: 1px solid #db6576;
  /* font-size: 14px; */
  color: #878787;
  margin-top: 20px;
}

.compdetails p {
  font-size: 15px;
  font-weight: 600;
  /* margin-top: 40px; */
}

.compdetails h3 {
  padding: 10px 10px 10px 0px;
}

.compdetails button {
  border: 1px solid #db6576;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  background: none;
}

.uploadDoc {
  margin-top: 20px;
}

.uploadDoc input:focus {
  outline: none;
}

.uploadDoc input:focus-visible {
  outline: none;
}
.uploadDoc .uploadIcon {
  width: 40px;
  padding: 5px;
}

.uploadDoc label {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  max-width: 64%;
}

.compdetails .draftbtn {
  width: 42%;
}

.confirmbtn {
  font-size: 16px;
  outline: none;
  width: 225px!important;
  height: 60px !important;
  background: linear-gradient(
180deg
, #f64b4b 0%, #ff704c 100%) !important;
  box-shadow: 0 10px 28px -10px #ed5b4b;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px 15px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  text-align: center;
  border: 1px solid rgb(239, 84, 67);
  /* margin: auto; */
  margin-top: 50px;
  margin-left: 30px;
}

.btn-gmc-container {
  width: 100%;
}

.gmc-yes_no-btn {
  width: 100%;
}

.form-part .switch1{
  margin:0px 0px 1em 0px !important;
}

.gmc-yes_no-btn label {
  border: 1px solid #db6576;
  width: 85px;
  margin-right: 20px;
}

.gmcpolicy:hover {
  background-color: #db6576;
  color: white;
}

.active-btn {
  background-color: #db6576 !important;
  color: white;
}

.gmc-yes_no-btn input[type="radio"]#yes1:checked ~ .gmcfilter {
  left: 0;
  opacity: 1;
  width: 85px;
}

.gmc-yes_no-btn input[type="radio"]#no1:checked ~ label[for="no1"] {
  color: white;
  border: 1px solid #db6576;
}

.switch1 input[type="radio"]#yes1:checked ~ label[for="yes1"] {
  color: white;
  border: 1px solid #db6576;
}

.gmc-yes_no-btn input[type="radio"]#no1:checked ~ .gmcfilter {
  left: 105px;
  width: 85px;
  opacity: 1;
}

.gmc-yes_no-btn input[type="radio"]#yes2:checked ~ .gmcfilter {
  left: 0;
  opacity: 1;
  width: 85px;
}

.gmc-yes_no-btn input[type="radio"]#no2:checked ~ label[for="no2"] {
  color: white;
  border: 1px solid #db6576;
}

.switch1 input[type="radio"]#yes2:checked ~ label[for="yes2"] {
  color: white;
  border: 1px solid #db6576;
}

.gmc-yes_no-btn input[type="radio"]#no2:checked ~ .gmcfilter {
  left: 105px;
  width: 85px;
  opacity: 1;
}

.gmc-yes_no-btn input[type="radio"]#yes3:checked ~ .gmcfilter {
  left: 0;
  opacity: 1;
  width: 85px;
}

.gmc-yes_no-btn input[type="radio"]#no3:checked ~ label[for="no3"] {
  color: white;
  border: 1px solid #db6576;
}

.switch1 input[type="radio"]#yes3:checked ~ label[for="yes3"] {
  color: white;
  border: 1px solid #db6576;
}

.gmc-yes_no-btn input[type="radio"]#no3:checked ~ .gmcfilter {
  left: 105px;
  width: 85px;
  opacity: 1;
}

.gmc-yes_no-btn input[type="radio"]#yes4:checked ~ .gmcfilter {
  left: 0;
  opacity: 1;
  width: 85px;
}

.gmc-yes_no-btn input[type="radio"]#no4:checked ~ label[for="no4"] {
  color: white;
  border: 1px solid #db6576;
}

.switch1 input[type="radio"]#yes4:checked ~ label[for="yes4"] {
  color: white;
  border: 1px solid #db6576;
}

.gmc-yes_no-btn input[type="radio"]#no4:checked ~ .gmcfilter {
  left: 105px;
  width: 85px;
  opacity: 1;
}

.gmc-yes_no-btn input[type="radio"]#yes5:checked ~ .gmcfilter {
  left: 0;
  opacity: 1;
  width: 85px;
}

.gmc-yes_no-btn input[type="radio"]#no5:checked ~ label[for="no5"] {
  color: white;
  border: 1px solid #db6576;
}

.switch1 input[type="radio"]#yes5:checked ~ label[for="yes5"] {
  color: white;
  border: 1px solid #db6576;
}

.gmc-yes_no-btn input[type="radio"]#no5:checked ~ .gmcfilter {
  left: 105px;
  width: 85px;
  opacity: 1;
}

.gmcfilter {
  width: 0;
  display: inline-block;
  background-color: #db6576;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
}

.multiforms ol.progtrckr li {
  width: calc(100% / 4);
}

.next-btn {
  float: left;
  margin-left: 50px !important;
  width: 35% !important;
  margin-bottom: 30px !important;
}

.numbemsg {
  color: red !important;
  font-size: 11px !important;
  margin: -2px;
  text-transform: none !important;
}

.nextnewbtn {
  width: 13% !important;
  float: left;
  margin-top: -70px !important;
  height: 60px;
  margin-left: 15% !important;
  border-radius: 5px !important;
  margin-bottom: 30px !important;
  cursor: pointer;
  position: absolute;
}

.nextnewbtn1 {
  width: 11% !important;
  float: left;
  margin-top: -80px !important;
  height: 60px;
  margin-left: 13% !important;
  border-radius: 5px !important;
  margin-bottom: 30px !important;
  cursor: pointer;
  position: absolute;
}

.progressbar-container{
  background-color: red;
}

