.head {
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 30px 30px 50px;
  font-size: 17px;
  margin-top: 20px;
}

.logo2 {
  padding: 40px 20px 20px 30px;
}

.micro_wrapper {
  width: 1180px;
  margin: auto;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.section1 {
  width: 100%;
  padding: 30px 30px 0px 50px;
}
.button1 {
  padding: 15px;
  width: calc(100% / 6 - 20px);
  margin: 20px 40px 20px 30px;
  border-radius: 10px;
  background-color: #efeff4;
  border: 1px solid #efeff4;
  box-shadow: 0 6px 16px rgb(52 105 203 / 16%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  margin-bottom: 27px;
}

.button1:hover {
  border: 1px solid #62a5f3;
  box-shadow: 0px 0px 2px 3px #c4c4c6;
}

.button1:active {
  background: "#62a5f3";
  color: "#ffffff";
}

.section2 {
  width: 80%;
  padding: 30px 30px 30px 50px;
}
.small {
  width: 90px;
  height: 90px;
  text-align: center;
  background-color: #df6262;
}

.header-top2 {
  background-color: silver;
  width: auto;
  height: 100px;
  padding-top: 2%;
  margin-bottom: 6%;
}

.imgg1 {
  width: 90px;
  height: 90px;
  background-color: whitesmoke;
}

.sumry {
  width: 70%;
  font-size: 12px;
}
.btn-group .button2 {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 40%;
  padding-right: 35px;
  margin-left: 40%;
}

.btn-group .button2:hover {
  background-color: grey;
}

.header-top3 {
  background-color: silver;
  width: auto;
  height: 100px;
  padding-top: 2%;
  margin-bottom: 8%;
}

.gridss {
  display: flex;
  width: 90%;
  background-color: #efeff4;
  box-shadow: 0 6px 16px rgb(52 105 203 / 16%);
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 30px;
}
.imgg11 {
  width: 90px;
  height: 90px;
  background-color: whitesmoke;
  padding: 20px;
}

.sumryy {
  width: 70%;
  margin-left: 30px;
  font-size: 12px;
}
.btn-group .button22 {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 7px;
  padding-right: 35px;
}

.btn-group .button22:hover {
  background-color: grey;
}

.logoImg {
  width: 170px;
  height: 170px;
  background-color: #df6262;
  float: right;
}

.product-name {
  margin-top: 30px;
  margin-bottom: 0px;
}

.head-container {
  display: flex;
  justify-content: space-between;
  /* width: 70%; */
}

.page-container {
  display: flex;
  padding: 15px 30px 30px 30px;
}

.content-part {
  width: 80%;
}

.buy-part {
  width: 20%;
  margin-top: 60px;
  padding-top:30px;
  text-align: center;
}

.buy-part h1 {
  font-size: 35px !important;
}

.buy-part .confirmbtn {
  margin-left: 0px;
  margin-top: 50px;
}

.section2 p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section2 h3 {
  font-weight: bold;
  color: #1f4568;
}

.content-body form {
  width: 50%;
  margin: 0px;
}

.content-label {
  font-weight: 600;
  font-size: 16px;
}

.content-input {
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  background-color: #efeff4;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content-body span {
  margin: auto;
  width: 45%;
  padding-top: 22%;
}

.content-body span p {
  margin: 0px;
}

.content-body {
  display: flex;
  flex-direction: inherit;
}

.form-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-body label {
  font-size: 17px;
  font-weight: 600;
}

.form-body input {
  width: 100%;
  padding: 20px;
  background-color: #efeff4;
  border-radius: 10px;
  border: none;
}

.form-left {
  width: 45%;
  padding: 20px 20px 20px 50px;
}

.form-right {
  width: 45%;
  padding: 20px 20px 20px 50px;
}
.nomine {
  font-size: 27px;
  padding: 30px 30px 30px 50px;
}

.checkboxes {
  /* width: 43%; */
  display: inline-grid;
  padding: 20px 20px 20px 50px;
}

.checkboxes input {
  padding: 20px;
  margin-top: 20px;
  background-color: #efeff4;
  border-radius: 10px;
  border: none;
}

.micro_wrapper h1 {
  font-size: 25px;
}

.form-right .confirmbtn{
  width: 100% !important;
  margin-left: 0px !important;
}

.content-body .confirmbtn{
  width: 100% !important;
  margin-left: 0px;
}