html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
} */
svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

h2 {
  font-family: "Open Sans" !important;
  color: #232323;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 24px;
}

h3 {
  font-family: "Open Sans" !important;
  color: #232323;
  font-weight: 300;
  letter-spacing: normal;
  /* text-transform: norma; */
  font-size: 20px;
}

h4 {
  font-family: "Open Sans" !important;
  color: #232323;
  font-weight: 300;
  letter-spacing: normal;
  /* text-transform: uppercase; */
  font-size: 18px;
}

h5 {
  font-family: "Open Sans" !important;
  color: #232323;
  font-weight: 300;
  letter-spacing: normal;
  font-size: 16px;
}

h5 {
  font-family: "Open Sans" !important;
  color: #232323;
  font-weight: 300;
  letter-spacing: normal;
  font-size: 14px;
}


hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

/* p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
} */

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

/*   */

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li>ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li>ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li>p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  /* padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px); */
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.widget {
  /* width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 507px;
}

.tabs {
  background: #ffffff;
  max-width: 100%;
  margin: 2em auto;
  width: 100%;
  position: relative;
  border: 1px solid rgba(107, 122, 254, 0.15);
  box-shadow: 20px 24px 108px -20px rgb(0 0 0 / 7%),
    0 0px 34px -10px rgb(195 197 212 / 57%), 0 2px 64px 0 rgb(70 90 207 / 16%);
  /* overflow: hidden; */
}

.tabs__tracker {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 147px;
  height: 5px;
  background: #6b7afe;
}

.tabs__titles__title {
  display: inline-block;
  cursor: pointer;
  /* padding: 1em 20px; */
  margin: 0;
  transition: all 300ms ease-in-out;
  height: 68px;
  line-height: 68px;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 400;
  font-size: 16px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: rgba(3, 3, 3, 0.5);
}

.tabs__titles__title:hover {
  transform: scale(1.1);
  color: #c23543;
}

.tabs__titles__title::after {
  position: absolute;
  content: "";
  height: 24px;
  width: 1px;
  right: 0px;
  top: 24px;
  background-color: rgba(151, 151, 151, 0.4);
}

.tabs__contents {
  position: relative;
  height: 411px;
}

.slide-right {
  animation: justSlide 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

@-webkit-keyframes justSlide {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes justSlide {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.tabs__contents__content {
  padding: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scale-enter {
  transform: translateX(-100%);
  opacity: 0.01;
}

.scale-enter.scale-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.scale-leave {
  transform: translateX(0);
  opacity: 1;
}

.scale-leave.scale-leave-active {
  transform: translateX(100%);
  opacity: 0.01;
  transition: all 500ms ease-in-out;
}

.tag,
.tag--not {
  display: inline-block;
  background: #723147;
  border-radius: 12px;
  color: white;
  padding: 4px 8px;
  text-transform: uppercase;
  font-weight: 700;
}

.tag+.tag,
.tag--not+.tag,
.tag+.tag--not,
.tag--not+.tag--not {
  margin-left: 10px;
}

.tag--not {
  background: #ae2f3c;
}

.termLifeForm {
  align-items: center;
  width: 605px;
  height: 69px;
  /* box-shadow: 0 2px 22px 0 rgb(70 90 207 / 16%);
  border: 1px solid rgba(107, 122, 254, 0.3); */
  box-shadow: 0 2px 22px 0 rgb(224 122 114 / 38%);
  border: 1px solid rgb(224 122 114 / 46%);
  border-radius: 3px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.termlife__header_content {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: rgba(3, 3, 3, 0.7);
  margin-top: 24px;
  height: 33px;
}

.radio__label {
  color: rgba(3, 3, 3, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.term_gender_select {
  font-size: 14px;
  border: none;
  background: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  position: relative;
  color: rgba(49, 68, 81, 0.7);
}

.view_quotes__btn {
  font-size: 16px;
  outline: none;
  width: 254px;
  /* height: 68px; */
  background: linear-gradient(180deg, #f64b4b 0%, #ff704c 100%);
  box-shadow: 0 10px 28px -10px #ed5b4b;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px 15px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  text-align: center;
  border: 1px solid rgb(239, 84, 67);
  margin: auto;
  margin-top: 40px;
}

.view_quotes__btn:hover {
  background: linear-gradient(90deg, #f64b4b 0%, #ff704c 100%);
  box-shadow: 0 10px 60px -10px #ed5b4b;
}

.label_show {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.7;
  top: 2px;
  left: 0px;
  letter-spacing: 1px;
}

.selected_items {
  font-size: 16px;
  color: #030303;
}

/* car insurance */
.carInsurance_wrapper {
  max-width: 1150px;
  margin: 41px auto;
}

.CarDetails {
  display: flex;
  max-width: 1140px;
  width: 100%;
  margin: 41px auto;
  padding: 0 8px;
  justify-content: space-evenly;
}

.yourCar {
  font-size: 12px;
  color: rgba(49, 68, 81, 0.7);
  font-weight: 700;
  margin-bottom: 6px;
}

.carName {
  font-size: 16px;
  color: rgba(3, 3, 3, 0.8);
  max-width: 350px;
}

.manufactureWrapper:before {
  content: "";
  position: relative;
  height: 100%;
  width: 2px;
  left: -60px;
  top: 36px;
  border: 2px solid rgba(49, 68, 81, 0.2);
}

.plan_count_wrapper {
  height: 50px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 134px;
  padding-top: 35px;
}

.plan_count {
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
  color: #030303;
}

.found {
  font-weight: 500;
  font-size: 30px;
}

.text-left {
  text-align: left;
}

.edit-car-option small[data-v-592022c0] {
  font-size: 14px;
  color: rgba(49, 68, 81, 0.7);
}

.carInsuranceForm {
  max-width: 460px;
  margin: 45px auto;
}

.box {
  display: block;
  padding: 2rem 1rem 2rem 1rem;
  /* background: white; */
}

.box:hover {
  /* box-shadow: 20px 24px 108px -20px rgb(0 0 0 / 7%),
    0 0px 34px -10px rgb(195 197 212 / 57%), 0 2px 64px 0 rgb(70 90 207 / 16%);
  border-radius: 6px; */
  box-shadow: 10px 14px 1px -20px rgb(0 0 0 / 1%),
    0 0px 14px -10px rgb(195 197 212 / 57%), 0 2px 14px 0 rgb(70 90 207 / 16%);
  /* overflow: hidden; */
  /* position: relative; */
  border: 1px solid rgba(107, 122, 254, 0.15);
}

.button-wrap {
  margin-top: 22px;
}

/* @media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
} */

.button-label {
  display: inline-block;
  padding: 10px 25px;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 53px;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  margin-bottom: 0 !important;
  font-weight: 100;
}

.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2),
    inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

/* @media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
} */
#brand-new-yes-button:checked+.button-label {
  background: #2ecc71;
  color: #efefef;
}

#brand-new-yes-button:checked+.button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#brand-new-no-button:checked+.button-label {
  background: #d91e18;
  color: #efefef;
}

#brand-new-no-button:checked+.button-label:hover {
  background: #c21b15;
  color: #e2e2e2;
}

#yes-button:checked+.button-label {
  background: #2ecc71;
  color: #efefef;
}

#yes-button:checked+.button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#no-button:checked+.button-label {
  background: #d91e18;
  color: #efefef;
}

#no-button:checked+.button-label:hover {
  background: #c21b15;
  color: #e2e2e2;
}

#maybe-button:checked+.button-label {
  background: #4183d7;
  color: #efefef;
}

#maybe-button:checked+.button-label:hover {
  background: #2c75d2;
  color: #e2e2e2;
}

.hidden {
  display: none;
}

.features_section {
  display: flex;
  width: 1170px;
  margin: auto;
  border-top: 2px solid #ccc;
  border-bottom: 3px solid #ccc;
  background-color: #f3f3f3;
  /* margin-top: 50px; */
}

.plain-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 500;
  color: #888888;
  line-height: 1.2;
  text-transform: capitalize;
}

.inside-full-height {
  padding: 0 45px;
}

.highlight {
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.text-center {
  text-align: center;
  margin: 0 0 15px;
  padding: 0;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.page-heading {
  color: #235fa9;
  font-family: "proxima-nova", bahij-janna, Helvetica, Tahoma, Verdana, Arial,
    sans-serif;
  border-bottom: 2px solid #ccc;
  padding: 15px 0;
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
}

.row-md-height {
  display: grid;
  justify-content: space-between;
  align-items: center;
  /* padding: 25px 4px; */
  grid-template-columns: 150px 275px 300px 236px;
}

.value {
  font-size: 12px;
  line-height: 16px;
}

.payment_container {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 40px;
}

.title_question {
  line-height: 1.3;
  font-size: 22px;
  color: #000000;
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

/* .title_question {
  line-height: 1.3;
  font-size: 20px;
  color: #232323;
  /* background: -webkit-linear-gradient(-134deg, #c86dd7, #3023ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
/* display: inline-block;
margin-bottom: 32px;
font-weight: 300;
text-align: left;
width: 100%;
} */

.vehicle_title {
  padding-top: 25px;
  color: #033967;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  margin-top: 40px;
  font-family: 'Comfortaa', display !important;
}



.switchFilter {
  width: 0;
  display: inline-block;
  background-color: #DB6576;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
}

.yesnoLabel {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #3D4349;
  width: 85px;
  padding: 10px 0;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.switch {
  /* position: absolute; */
  /* display: inline-block; */
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  margin: 2em 0;
  display: flex;
  position: relative;

}

.switchnew {
  /* position: absolute; */
  /* display: inline-block; */
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  margin: 2em 0;
  display: flex;
  position: relative;

}

.switch input[type=radio] {
  visibility: hidden;
  position: absolute;
  height: 100%;
}

.switchnew input[type=radio] {
  visibility: hidden;
  position: absolute;
  height: 100%;
}

.switch input[type=radio]#yes:checked~label[for=yes] {
  color: white;
  border: 1px solid #DB6576;
}

.switch input[type=radio]#yes:checked~.switchFilter {
  left: 0;
  opacity: 1;
  width: 87px;
}

.switch input[type=radio]#no:checked~label[for=no] {
  color: white;
  border: 1px solid #DB6576;
}

.switch input[type=radio]#no:checked~.switchFilter {
  left: 96px;
  width: 87px;
  opacity: 1;
}

/* another /////////////////// */

.switchnew input[type=radio]#newyes:checked~label[for=newyes] {
  color: white;
  border: 1px solid #DB6576;
}

.switchnew input[type=radio]#newyes:checked~.switchFilter {
  left: 0;
  opacity: 1;
  width: 87px;
}

.switchnew input[type=radio]#newno:checked~label[for=newno] {
  color: white;
  border: 1px solid #DB6576;
}

.switchnew input[type=radio]#newno:checked~.switchFilter {
  left: 96px;
  width: 87px;
  opacity: 1;
}



@media screen and (max-width: 400px) {
  .switch {
    width: 100%;
  }

  .switch input[type=radio]#yes:checked~.switchFilter {
    left: 96px;
    opacity: 1;
    width: 87px;
  }

  .switch input[type=radio]#no:checked~.switchFilter {
    left: 196px;
    width: 87px;
    opacity: 1;
  }
}